@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Questionnaire2.Models.QuestionnaireModelA

<div class="row">
    <div class="col-md-12">

    </div>
</div>


1)	Σημειώστε το είδος τηλεκπαίδευσης που πραγματοποιήθηκε σε κάθε μάθημα στο ΙΕΚ σας (ασύγχρονη τηλεκπαίδευση, σύγχρονη τηλεκπαίδευση, σύγχρονη και ασύγχρονη, δεν υπήρξε τηλεκπαίδευση, δε γνωρίζω, άλλο – ελεύθερο κείμενο))
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <table class="oTable">
            <tr>
                <th colspan="2" width="30%">@Html.DisplayFor(model => model.Q107.label) </th>
                @for (int i = 0; i <= 3; i++)
                {
                    <th width="10%">
                        <label class="control-label">@Model.Q107.options.ElementAt(i).Value</label>
                    </th>
                }
                <th width="30%">
                    <label class="control-label">@Model.Q107.options.ElementAt(4).Value</label>
                </th>
            </tr>
            @for (int i = 0; i < Model.Q107.rows.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Q107.rows[i].label.Split("#", StringSplitOptions.RemoveEmptyEntries)[0])</td>
                    <td>@Html.DisplayFor(model => model.Q107.rows[i].label.Split("#", StringSplitOptions.RemoveEmptyEntries)[1])</td>
                    @Html.HiddenFor(m => m.Q107.rows[i].label)
                    @for (int j = 0; j < Model.Q107.rows[i].options.Count; j++)
                    {
                        <td align="center">
                            @Html.RadioButtonFor(model => model.Q107.rows[i].val, Model.Q107.rows[i].options.ElementAt(j).Key, (Model.Q107.rows[i].val ?? "").Equals(Model.Q107.rows[i].options.ElementAt(j).Key) ? new { @checked = "checked", onchange = "validateHidesTableOther();" } : new { @checked = "", onchange = "validateHidesTableOther();" })
                            @if (j.Equals(4))
                            {<br /> @Html.TextAreaFor(model => model.Q107.rows[i].detail, new { @class = "textareaAnswer" });
                        }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <table class="oTable">
            <tr>
                <th colspan="2" width="30%">@Html.DisplayFor(model => model.Q108.label) </th>
                @for (int i = 0; i <= 3; i++)
                {
                    <th width="10%">
                        <label class="control-label">@Model.Q108.options.ElementAt(i).Value</label>
                    </th>
                }
                <th width="30%">
                    <label class="control-label">@Model.Q108.options.ElementAt(4).Value</label>
                </th>
            </tr>
            @for (int i = 0; i < Model.Q108.rows.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Q108.rows[i].label.Split("#", StringSplitOptions.RemoveEmptyEntries)[0])</td>
                    <td>@Html.DisplayFor(model => model.Q108.rows[i].label.Split("#", StringSplitOptions.RemoveEmptyEntries)[1])</td>
                    @Html.HiddenFor(m => m.Q108.rows[i].label)
                    @for (int j = 0; j < Model.Q108.rows[i].options.Count; j++)
                    {
                        <td align="center">
                            @Html.RadioButtonFor(model => model.Q108.rows[i].val, Model.Q108.rows[i].options.ElementAt(j).Key, (Model.Q108.rows[i].val ?? "").Equals(Model.Q108.rows[i].options.ElementAt(j).Key) ? new { @checked = "checked", onchange = "validateHidesTableOther();" } : new { @checked = "", onchange = "validateHidesTableOther();" })
                            @if (j.Equals(4))
                            {<br /> @Html.TextAreaFor(model => model.Q108.rows[i].detail, new { @class = "textareaAnswer" });
                        }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <input type="submit" class="btn btn-secondary" value="<< Προηγούμενο" onclick="javascript: goto2(); return (false);" />
    </div>
    <div class="col-md-4">
        &nbsp
    </div>
    <div class="col-md-4">
        <input type="submit" class="btn btn-secondary" value="Επόμενο >>" onclick="javascript: goto4();return (false);" />
    </div>
</div>


