@using Questionnaire2.Helpers ;  

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h3>Ερωτηματολόγιο για την Τηλεεκπαίδευση</h3>

        <p>@ViewBag.Login </p>
        <p>  @Html.ActionLink("Είσοδος στο σύστημα (με τα στοιχεία του ΠΣΔ)", "Login", "Home")   </p>

        @if (ViewBag.UserStatus.Equals(UserHelper.UserStatus.Draft))
        {
            <p>  @Html.ActionLink("Συνεχίστε την Συμπλήρωση του Ερωτηματολογίου (Edit)", "Questionnaire", "Home")   </p>
        }
        @if (ViewBag.UserStatus.Equals(UserHelper.UserStatus.New))
        {
            <p>  @Html.ActionLink("Συμπληρώστε το Ερωτηματολόγιο", "Questionnaire", "Home")   </p>
        }
        @if (ViewBag.UserStatus.Equals(UserHelper.UserStatus.Submitted))
        {
            <p>  Έχετε ήδη υποβάλει το Ερωτηματολόγιο </p>
            <p>  @Html.ActionLink("Προβολή του Ερωτηματολογίου", "Questionnaire", "Home")   </p>
        }

    </div>
