@model Questionnaire2.Models.QuestionnaireModel
@{
    ViewData["Title"] = "Questionnaire";
}


<script src="~/js/forms.js"></script>


<h1>Questionnaire</h1>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })


    if (!(Model.ErrorMessage ?? "").Trim().Equals(""))
    { <div class="alert alert-danger col-md-12">

            @Html.Raw(Model.ErrorMessage)
        </div>
    }
    if (!(Model.InfoMessage ?? "").Trim().Equals(""))
    { <div class="alert alert-info col-md-12">
            @Html.DisplayFor(model => model.InfoMessage)
        </div>
    }

    @Html.HiddenFor(model => model.UserName)

    <div class="form-group ">

        @*

            <div class="col-md-1 Minedu-margin-bottom"> &nbsp; </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.SchoolDescription, new { @class = " control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.SchoolDescription, new SelectList(Questionnaire2.Helpers.InMemory.getSchoolDescriptions(), "Key", "Value"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-1 Minedu-margin-bottom"> &nbsp; </div>*@

        <div align="right">
            <input type="submit" value="Προσωρινη Αποθηκευση" class="btn" formaction="QSave" id="btnSave" />
        </div>



        <ul class="nav nav-tabs mb-3" id="q-tab">
            <li class="nav-item">
                <a class="nav-link active" id="Section1-tab" data-toggle="tab" href="#Section1" role="tab" aria-controls="Section1" aria-selected="true">Προσωπικά Στοιχεία</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Section2-tab" data-toggle="tab" href="#Section2" role="tab" aria-controls="Section2" aria-selected="false">Ασύγχρονη Τηλεκπαίδευση</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Section3-tab" data-toggle="tab" href="#Section3" role="tab" aria-controls="Section3" aria-selected="false">Σύγχρονη Τηλεκπαίδευση</a>
            </li>
            <!--      <li class="nav-item">
                <a class="nav-link" id="Section4-tab" data-toggle="pill" href="#Section4" role="tab" aria-controls="Section4" aria-selected="false">Συνολική Εικόνα (Μάρτιος-Μάϊος)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Section5-tab" data-toggle="pill" href="#Section5" role="tab" aria-controls="Section5" aria-selected="false">Σχολική Χρονιά 2020-2021</a>
            </li>-->
        </ul>



        <hr />
        <fieldset id="allFields">
            <div class="tab-content" id="q-tabContent">

                <div class="tab-pane fade show active" id="Section1" role="tabpanel" aria-labelledby="Section1-tab">

                    <partial name="_QuestionnaireTab1" />

                </div>
                <div class="tab-pane fade" id="Section2" role="tabpanel" aria-labelledby="Section2-tab">
                    <partial name="_QuestionnaireTab2" />

                </div>

                <div class="tab-pane fade" id="Section3" role="tabpanel" aria-labelledby="Section3-tab">


                    <partial name="_QuestionnaireTab3" />



                </div>


            </div>  <!-- pills-tabContent-->
        </fieldset>

        <div class="col-md-1 Minedu-margin-bottom"> &nbsp; </div>



    </div>


}


<script>
    validateHides();
</script>

@if (Model.UserStatus.Equals(Questionnaire2.Helpers.UserHelper.UserStatus.Submitted))
{
<script>
    disableAllFields();
    hideAllButtons(); 
</script>
}